<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>night</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>cn.tedu.controller.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllServlet</display-name>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>cn.tedu.controller.FindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/FindAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllGradeServlet</display-name>
    <servlet-name>FindAllGradeServlet</servlet-name>
    <servlet-class>cn.tedu.controller.FindAllGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllGradeServlet</servlet-name>
    <url-pattern>/FindAllGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectGradeServlet</display-name>
    <servlet-name>AddSubjectGradeServlet</servlet-name>
    <servlet-class>cn.tedu.controller.AddSubjectGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectGradeServlet</servlet-name>
    <url-pattern>/AddSubjectGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>cn.tedu.controller.Demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/Demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>result</display-name>
    <servlet-name>result</servlet-name>
    <servlet-class>cn.tedu.dao.result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>result</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindResultSerlvet</display-name>
    <servlet-name>FindResultSerlvet</servlet-name>
    <servlet-class>cn.tedu.controller.FindResultSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindResultSerlvet</servlet-name>
    <url-pattern>/FindResultSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindResultServlet</display-name>
    <servlet-name>FindResultServlet</servlet-name>
    <servlet-class>cn.tedu.controller.FindResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindResultServlet</servlet-name>
    <url-pattern>/FindResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResultServlet</display-name>
    <servlet-name>AddResultServlet</servlet-name>
    <servlet-class>cn.tedu.controller.AddResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResultServlet</servlet-name>
    <url-pattern>/AddResultServlet</url-pattern>
  </servlet-mapping>
</web-app>